* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ececec;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 300px;
}

#root {
  margin: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.card {
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 20px 20px;
}

h2, h3, p {
  padding: 10px;
  margin: 15px;
}
